 var errors = <%= @errors.html_safe %>;
 var model_name = "<%= @model_name %>";
 var form = $('#agreement form');
 $.each(errors, function(k,v){
   var input = form.find("[name='"+model_name+"[" + k + "]']:not([type=hidden])");
   //var input = form.find('input:not([type=hidden]), select, textarea').filter(function(){
      //return $(this).attr('name') === model_name+'[' + k + ']';
   //});
    
   input.closest('.form-group').addClass('has-error');
   //<abbr title="required">*</abbr>
   input.closest('.form-group').find('> label').append('<abbr class="msg" title="'+ $.map(v,function(m){ return m.charAt(0).toUpperCase() + m.slice(1); }).join("\r\n")+'">!'  + '</abbr>');
   //input.closest('.form-group').find('> label').append('<span class="help-block" title="'+ $.map(v,function(m){ return m.charAt(0).toUpperCase() + m.slice(1); }).join("\r\n")+'">!'  + '</span>');
 }); 
 // $.fn.render_form_errors = (model_name, errors) ->
 //  form = this
 //  this.clear_form_errors()

 //  $.each(errors, (field, messages) ->
 //    input = form.find('input, select, textarea').filter(->
 //      name = $(this).attr('name')
 //      if name
 //        name.match(new RegExp(model_name + '\\[' + field + '\\(?'))
 //    )
 //    input.closest('.form-group').addClass('has-error')
 //    input.parent().append('<span class="help-block">' + $.map(messages, (m) -> m.charAt(0).toUpperCase() + m.slice(1)).join('<br />') + '</span>')
 //  )