<%-
  langs ||= nil
  current_locale ||= I18n.locale.to_s

  if langs.present?
-%>
  <div class="available-language-switcher">
    <label><%= t('.label') %></label>
    <select>
      <% langs.each do |lang| %> 
        <%-
          select = lang.locale == current_locale ? 'selected' : ''
        -%>
        <option <%= select %> value="<%= lang.locale %>"><%= lang.name %></option>
      <% end %>
    </select>
  </div>
<% end %>