<%- model_class = TimeSeriesGroup -%>
<% title t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %>

<div class="form-group form-group-admin-buttons">
  <%= link_to t('helpers.links.list'), time_series_time_series_groups_path,
  :class => 'btn btn-default' %>
</div>

<%= render :partial => 'form' %>
