<%- model_class = TimeSeries -%>

<% title t('.title') %>

<% if @time_series.present? %>
  <ul class="list-unstyled">
    <% @time_series.each do |time_series| %>
      <li>
        <h2><%= link_to time_series.title %></h2>
        <% if time_series.description.present? %>
          <div class="tinymce_format">
            <%= simple_format_no_tags(time_series.description, {}, {sanitize: false}) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

<% else %>
  <p>
    <%= t('.no_data') %>
  </p>
<% end %>