<% title t('.title') %>

<% if @datasets.present? %>
  <% @datasets.each do |dataset| %>

    <div class="col-sm-4">
      <h2><%= dataset.title %></h2>
      <% if dataset.description.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(dataset.description, {}, {sanitize: false}) %>
        </div>
      <% end %>
      <div class="pull-right">
        <%= link_to 'view data', explore_data_show_path(dataset), :class => 'btn btn-default' %>
      </div>
    </div>

  <% end %>
<% else %>
  <p>
    <%= t('.no_data') %>
  </p>
<% end %>