@import "variables.css.less";
// @bright-blue-color: #00adee;
// @maroon-color: #d95d6a;
// @light-grey-color: #f6f7f7;
// @medium-grey-color: #ececec;
// @dark-grey-color: #666e7c;
@light-grey-border:#c4c4c4;
@dark-grey-text:#49505E;

.api, .tinymce_format, .mce-content-body {
  a{
    font-family:'sourcesans_pro_l', 'sans-serif';
    font-size:15px;
    color: @bright-blue-color;
  }
  p
  {
    font-family:'sourcesans_pro_l', 'sans-serif';
    font-size:16px;
    color:@dark-grey-text;
  }
  h1,h2,h3,h4,h5,h6
  {
    font-family:'sourcesans_pro', 'sans-serif';    
    color:@bright-blue-color;
  }
  h1
  {
    font-size:16px;
    text-transform:uppercase;
  }
  h2{
    font-size: 17px;
  }
  h3{
    font-size: 16px;
  }
  .url{
    background-color: @light-grey-color;
    padding: 10px 13px;
    border: solid 1px @light-grey-border;
    font-family:'sourcesans_pro', 'sans-serif';  
    font-size:14px;  
    color:@dark-grey-text;  
    margin:0px 0px 10px 0px;
  }
  ul.list-unstyled {
    padding-left: 0.5em;
    font-family:'sourcesans_pro_l', 'sans-serif';
    font-size:14px;
    color:@dark-grey-text;
    li {
      list-style: none;
    }
  }
  .version-links{
    h3{
      font-family:'sourcesans_pro', 'sans-serif';   
      font-size:17px; 
      color:@bright-blue-color;
      span{
        font-size: 13px;
        font-style: italic;
        padding-left: 10px;
      }
    }
    ul{
      list-style: none;
      padding-left: 0.25em;
      margin:5px 0 0;
      li { 
        list-style: none;
        padding-left: 2em; 
        text-indent: -.7em;
        line-height: 1;
        &:before {
          content: "\2022";
          color: @bright-blue-color;
          font-size: 1em;
          line-height: 1.4em;
          padding-right: 0.5em;
        }
      }
    }    

  }

  .col-left{
    display:table-cell;
    vertical-align:top;
    border-right:1px solid #d6d6d6;
    background-color:#fff;
    padding:0px 30px;
  }
  .col-right{
    min-width:300px;
    max-width:300px;
    display:table-header-group;
    vertical-align:top;
    .header
    {
      width:100%;
      margin-bottom:10px;
      border-collapse: separate;
      border-spacing: 10px 0px;
      h2
      {
        position:relative;
        top:8px;
        white-space: nowrap;
      }
      h2, .line { display:table-cell; }
      .line
      {
        width:100%;
        padding:0px 0px 0px 10px;
        border-bottom:2px dotted #b5b5b5;
      }
    }
  }
.documentation-links{    
    .box
    {
           
      padding:20px;
    }
    h2.title
    {
      font-family:'nokiasans_s60';
      font-size:14px;
      color:@bright-blue-color;
      padding: 0px 30px 4px 0px;
      border-bottom: 1px solid #b8c0c6;
      display: inline-block;
      margin:0px 0px 10px 0px;
    }
    h2 a{
      font-family:'nokiasans_s60';
      font-size:14px;
      color:@bright-blue-color;
    }
    a{
      color: #666e7c;
      font-family:'sourcesans_pro', 'sans-serif';   
      font-size:14px; 
      text-decoration:none;
      &:hover
      {
        color: @bright-blue-color;
      }
    }
    li:before {
      content: "\2022";
      color: #666e7c;
      font-size: 1em;
      line-height: 1.4em;
      padding-right: 0.5em;
    }
    li:hover:before
    {
      color: @bright-blue-color;
    }
  }
  #api-dates{
    margin-bottom: 10px;
    text-align:left;
    span{
      padding: 13px 13px;
      color: #7b8483;
      font-family:'dejavusans';
      font-size:12px;
      font-style:italic;
      line-height:22px;
      &:lang(en)
      {
         font-family: 'oxygen';
      }         
    }
  }

  table.table{
    margin: 0;
    border-collapse:collapse;    
    overflow-x: auto;
    th, td {
      background-color: #f6f7f7;
      padding: 6px 10px;
      border:1px solid #c4c4c4;
      color: #49505e;
      font-family:'dejavusans';
      font-size:14px;
      line-height:22px;
      vertical-align:top;
      &:lang(en)
      {
         font-family:'sourcesans_pro_l', 'sans-serif';
      }        
      a
      {
        text-decoration:underline;
        color: #49505e;
        font-family:'dejavusans';
        font-size:14px;
        &:lang(en)
        {
           font-family:'sourcesans_pro_l', 'sans-serif';
        }            
      }
    }
    thead th{
      color: #d95d6a;
      font-family:'dejavusans-b';
      font-size:14px;
      text-align:left;
      &:lang(en)
      {
        font-family:'sourcesans_pro', 'sans-serif';  
      }         
    }
    tbody tr td:first-of-type{
      color: #3c4352;
      font-family:'dejavusans-b';
      font-size:14px;
      &:lang(en)
      {
        font-family:'sourcesans_pro', 'sans-serif';
      }         
    }
  }
}


.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #7b8483 !important;
}
.syntaxhighlighter table td.gutter .line {
  padding: 0 3px 0 0 !important;
}
.syntaxhighlighter table td.code .line {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}
@media screen and (max-width: 680px) {
  .syntaxhighlighter .gutter {
    display:none;
  }
  .syntaxhighlighter table td.code .line {
    padding: 0 !important;
  }
}
@media (min-width: 768px) { 
  .api {
    .col-left{
      display:table-cell;
      vertical-align:top;
      border-right:1px solid #d6d6d6;
    }
    .col-right{
      min-width:300px;
      display:table-cell;
      vertical-align:top;
    }
  }
   table.table{
    th, td {
      padding:13px 23px;
    }
  }
  
}