@import "variables.css.less";
@light-grey-border:#c4c4c4;
@dark-grey-text:#49505E;

//.api-documentation { margin-right:-50px; }
.api,.api-documentation, .tinymce_format, .mce-content-body {
  a{
    font:15px 'sourcesans_pro_l', 'sans-serif';
    color: @d67456;
  }
  p
  {
    font:16px 'sourcesans_pro_l', 'sans-serif';
    color:@dark-grey-text;
  }
  h1,h2,h3,h4,h5,h6
  {
    font-family:'sourcesans_pro', 'sans-serif';
    color:@d67456;
  }
  h1
  {
    font-size:16px;
    text-transform:uppercase;
  }
  h2{ font-size: 17px; }
  h3{ font-size: 16px; }
  .url{
    background-color: @f6f7f7;
    padding: 10px 13px;
    border: solid 1px @light-grey-border;
    font:14px 'sourcesans_pro', 'sans-serif';
    color:@dark-grey-text;
    margin:0px 0px 10px 0px;
  }
  ul.list-unstyled {
    padding-left: 0.5em;
    font:14px 'sourcesans_pro_l', 'sans-serif';
    color:@dark-grey-text;
    li {
      list-style: none;
    }
  }
  .version-links{
    h3{
      font:17px 'sourcesans_pro', 'sans-serif';
      color:@d67456;
      .calendar
      {
        display:inline-block;
        margin-left:20px;
        background:transparent url(/assets/svg/calendar.svg) no-repeat;
        width:21px;
        height:22px;
        vertical-align: bottom;
        position: relative;
        top: 2px;
      }
      span{
        display:inline-block;
        font:16px 'sourcesans_pro_li', 'sans-serif';
      }
    }
    ul{
      list-style: none;
      padding-left: 0.25em;
      margin:5px 0 0;
      li {
        list-style: none;
        padding-left: 2em;
        text-indent: -.7em;
        line-height: 1;
        &:before {
          font:1em/1.4em Arial,'sans-serif';
          content: "\2022";
          color:@d67456;
          padding-right: 0.5em;
          vertical-align:middle;
        }
      }
    }

  }
.doc-links { display:none; }
.doc-links, .m-doc-links {
  .box {
    padding:20px;
    .header
    {
      width:100%;
      margin-bottom:10px;
      border-collapse: separate;
      border-spacing: 10px 0px;
      > div { display:table-cell; vertical-align:top;}
      div
      {
        font:14px 'nokiasans_s60', 'sans-serif';
        color:@d67456;
        padding:0;
        margin:0;
        white-space: nowrap;
        &:lang(ka) { font:14px 'nokiasans_s60_sb', 'sans-serif'; }
      }

      .line
      {
        width:100%;
        padding:0px 0px 0px 10px;
        background:transparent url(/assets/svg/hborder.svg) repeat-x center;
      }
    }
    > a{
      font:14px 'nokiasans_s60', 'sans-serif';
      color:@d67456;
      &:lang(ka) { font:14px 'nokiasans_s60_sb', 'sans-serif'; }
    }
    .back{
       display:inline-block;
        background:transparent url(/assets/svg/back_home.svg) no-repeat;
        width:13px;
        height:8px;
        vertical-align: middle;
        margin-right:5px;
    }
    li
    {
      &:before {
        font:1em/1.4em Arial,'sans-serif';
        content: "\2022";
        color:#666e7c;
        padding-right: 0.5em;
        vertical-align:middle;
      }
      &:hover:before
      {
        color: @d67456;
      }
      a
      {
        color: #666e7c;
        font:14px 'sourcesans_pro', 'sans-serif';
        text-decoration:none;
        &:hover
        {
          color: @d67456;
        }
      }
    }
     select
    {
      font:13px 'sourcesans_pro', 'sans-serif';
      color: #777c86;
      background: #ffffff url(/assets/svg/select_arrow.svg) no-repeat center right / 21px 7px;
      min-width:100px;
      padding: 6px 28px 6px 10px;
      margin-left:20px;
      border:1px solid #ddd;
      outline:none;
      appearance:         none;
      border-radius:0px;
      cursor:pointer;

    }
  }
}
  #api-dates{
    margin-bottom: 10px;
    text-align:left;
    .calendar
    {
      display:inline-block;
      background:transparent url(/assets/svg/calendar.svg) no-repeat;
      width:21px;
      height:22px;
      vertical-align: bottom;
    }
    span{
      padding: 0px 4px;
      font:16px/22px 'sourcesans_pro_sbi', 'sans-serif';
      color: #d67456;
      i
      {
        font-family:'sourcesans_pro_li', 'sans-serif';
      }
    }
  }

  table.table{
    margin: 0;
    border-collapse:collapse;
    overflow-x: auto;
    th, td {
      background-color: #f6f7f7;
      padding: 6px 10px;
      border:1px solid #c4c4c4;
      vertical-align:top;
      &, p, li, a
      {
        font:14px/22px 'sourcesans_pro_l', 'sans-serif';
        color: #49505e;
      }
      a
      { text-decoration:underline; }
    }
    thead th{
      font:14px/22px 'sourcesans_pro', 'sans-serif';
      color: #d95d6a;
      text-align:left;
    }
    tbody tr td:first-of-type, strong{
      font:normal 14px/22px 'sourcesans_pro', 'sans-serif';
      color: @3c4352;
    }
  }
}

.syntaxhighlighter
{
  background-color: #f6f7f7 !important;
  padding: 10px;
  border:1px solid #c4c4c4;
  .gutter
  {
    font-family:12px "Courier New";
    color:#7c7c7c;
    font-weight:bold;
    .line
    {
      background-color: #f6f7f7 !important;
      border-color:#d67456 !important;
    }
  }
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #7c7c7c !important;
}
.syntaxhighlighter .string{
  color: #d95d6a !important;
}
.syntaxhighlighter .keyword{
  color: #d67456 !important;
  font-size:12px;
  font-weight:normal !important;
}
.syntaxhighlighter table td.gutter .line {
  padding: 0 5px 0 0 !important;
}
.syntaxhighlighter table td.code .line {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    background-color: #f6f7f7 !important;
}
@media screen and (max-width: 680px) {
  .syntaxhighlighter .gutter {
    display:none;
  }
  .syntaxhighlighter table td.code .line {
    padding: 0 !important;
  }
}


.col-left{
  display:table-cell;
  vertical-align:top;
  background-color:#fff;
  padding:0px 30px 0px 0px;
}
.col-right{
  min-width:300px;
  max-width:300px;
  display:table-header-group;
  vertical-align:top;
  background-color:#f6f7f7;
}


@media (min-width: 992px) {

  .api, .api-documentation {
    margin-right:-50px;
    .col-left{
      display:table-cell;
      vertical-align:top;
      border-right:1px solid #d6d6d6;
    }
    .col-right{
      min-width:300px;
      display:table-cell;
      vertical-align:top;
    }
    .doc-links { display:table-cell; }
    .m-doc-links { display:none; }
  }
   table.table{
    th, td {
      padding:13px 23px;
    }
  }

}
