/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require formtastic
 *= require formtastic-bootstrap
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require dataTables/extras/dataTables.tableTools
 *= require bootstrap_and_overrides
 *= require tooltip
 *= require devise
 *= require vendor
 *= require_self
*/


/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear             		{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */


/* so ie will display the correct color background */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	filter: none; 
}

/* multilanguage form styles */
div#form-en {
	background-color:#ddd;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

div#form-ka {
	background-color:#999;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

/* error message styling */
.errorExplanation{
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #F2DEDE;
  color: #B94A48;
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  h2{
    color: #B94A48 !important;
  }

  a{
    color: #B94A48;
  }
}




/* nested form styles */
#nested_form_container {
	margin: 0.5em 0;
  padding: 1em;
  background-color: #ddd;
  
  .nested_form_item {
    background-color: #eee;
    padding: 0.5em 1em;
  }
}


.formtastic input
{
	padding:4px 14px;
	font-size:14px;
  box-sizing:content-box;

  &[type="number"]{
    width: 100px;  
  }
}



/* fix styles when using tinymce */
.tinymce_format{
  ul, ol, ul ul, ol ol,
  ul ol, ol ul {
    padding-left: 2em;
  }

  ul li {
    list-style-type:disc;
    line-height: 1.5;
  }
  ol li {
    list-style-type:decimal;
    line-height: 1.5;
  }
}


/* logo in header */
.navbar-brand{
  font-size: 15px;
  background-color:#00adee;
  // padding: 7px;
  a
  {
    text-align:center;
  }
  #logo{
    display: inline-block;    
    width: 95px;
    height:24px;    
  }
  &:hover
  {
    background-color:#00adee;
  }
  &.xtraktr{
    background-color:#EB5D30;
    padding: 0 24px;
    #logo{
      display: inline-block;    
      width: 78px;
      height:50px;    
    }
    &:hover
    {
      background-color:#EB5D30 !important;
    }
  }
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color:#00adee;
}
/* datatable styles */
.dataTables_wrapper {
  .dataTables_filter {
    width: 50%;
    float: left;
    text-align: left;
    label{
      float: left;
    }
  }
  .dataTables_info{
    text-align: center;
  }
  .dataTables_length{
    float: right;
    select{
      width: auto !important;
    }
  }
}

.table-nonfluid {
   width: auto;
   max-width: 100%;
   margin: 0 auto;
}

/*hint and errors in formtastic forms*/
.help-inline, .help-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #9E9E9E !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:default;
  padding:0px;
  border: 1px solid #9E9E9E;
  margin-left:10px;
}
.help-inline div,.help-block div {
  margin:0px 0px 0px 4px;
}
.error-inline, .error-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #b94a48 !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:default;
  padding:0px;
  border: 1px solid #b94a48;
    margin-left:10px;
}
.error-inline div,.error-block div {
  margin:1px 0px 0px 7px;
}
.formtastic 
{
  .input
  {
    overflow:visible;
  }
  .form-control
  {
    display:inline-block;
  }
  .control-label
  {
    display:block;
    clear:both;
    margin-bottom:3px;
  }
  .control-label, table th
  {
    abbr
    {
      font-family:'sourcesans_pro', 'sans-serif';
      font-size:12px;
      color: #d95d6a;
      width:10px;
      display:inline-block; 
      border: 0;
      margin:0;
      padding:0;
    }
  }  
  .select select 
  {
    max-width: 72%;
  }
}

/* bootstrap select styles */
.bootstrap-select.btn-group .btn .filter-option{
  padding: 3px 5px;
}
ul.dropdown-menu.inner.selectpicker li a{
  padding: 3px 10px;
}
.bootstrap-select-searchbox input{
  width: 95%;
}

/* style record public status */
.publish-status{
  display: inline-block;
  padding: 4px 8px;
  color: #3d3d3d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -khtml-border-radius: 5px;   
  &.public{
    background-color: #a8d2b8;
  }
  &.not-public{
    background-color: #e1919f;
  }
  &.small-status{
    font-size: 12px;
    padding: 2px 4px;
  }
}












@font-face {
    font-family: "opensans";    
    src: url( '/assets/fonts/opensans.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_li";    
    src: url( '/assets/fonts/opensans_li.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_b";    
    src: url( '/assets/fonts/opensans_b.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_sb";    
    src: url( '/assets/fonts/opensans_sb.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "nokiasans_s60";    
    src: url( '/assets/fonts/nokiasans_s60.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "prime";    
    src: url( '/assets/fonts/prime.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "sourcesans_pro_i";    
    src: url( '/assets/fonts/sourcesans_pro_i.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_l";    
    src: url( '/assets/fonts/sourcesans_pro_l.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_li";    
    src: url( '/assets/fonts/sourcesans_pro_li.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_eli";    
    src: url( '/assets/fonts/sourcesans_pro_eli.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro";    
    src: url( '/assets/fonts/sourcesans_pro.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_sb";    
    src: url( '/assets/fonts/sourcesans_pro_sb.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_sbi";    
    src: url( '/assets/fonts/sourcesans_pro_sbi.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}

div.message {  
  position: absolute;
  min-width: 250px;
  max-width: 350px;
  right: 10px;
  top: 35px;
  z-index:9996;
}

#side-menu
{
  background-color:#3c4352;
  li 
  {
    border:0px;
    a
    {
      font-family: 'nokiasans_s60';
      font-size:14px;
      color:#fff;
      background-color:#3c4352;
      text-align:center;
      padding:15px 20px;
      opacity:0.7;
      span
      {
        font-family:'nokiasans_s60';
        font-size:14px;
        color:#fff;
        display:block;
      }
      &.unicef
      {
        font-family:'opensans';
        font-size:12px;
        color:#00adee;
      }
      .img
      {
        background-size:21px 17px;
        width:21px;
        height:17px;
        margin:0px auto 6px;
      }
      .side-menu-home { background:transparent url(/assets/svg/home.svg) no-repeat; }
      .side-menu-datasets { background:transparent url(/assets/svg/datasets.svg) no-repeat; }
      .side-menu-time-series { background:transparent url(/assets/svg/time_series.svg) no-repeat; }
      .side-menu-instructions { background:transparent url(/assets/svg/instructions.svg) no-repeat; }
      .side-menu-api { background:transparent url(/assets/svg/api.svg) no-repeat; }
      .side-menu-contact { background:transparent url(/assets/svg/contact.svg) no-repeat; }
      &:hover,&.active
      {
        background-color:#313844;
        position:relative;
        opacity:1;

        .side-menu-home { background:transparent url(/assets/svg/home_a.svg) no-repeat; }
        .side-menu-datasets { background:transparent url(/assets/svg/datasets_a.svg) no-repeat; }
        .side-menu-time-series { background:transparent url(/assets/svg/time_series_a.svg) no-repeat; }
        .side-menu-instructions { background:transparent url(/assets/svg/instructions_a.svg) no-repeat; }
        .side-menu-api { background:transparent url(/assets/svg/api_a.svg) no-repeat; }
        .side-menu-contact { background:transparent url(/assets/svg/contact_a.svg) no-repeat; }
      }
      &.active:after
      {
        content:'◢';
        font-family:"Courier New";
        font-size:16px;
        color:#313844;
        position:absolute;
        right:-5px;
        top:50%;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
      }
 
    }
  }  
}
.navbar-brand
{
  width:141px;
}
.navbar-form
{
  margin:0px;
  .form-group
  {
    width:100%;
  }
   input[type=search],input[type=text]
  {
    font-family:'opensans_li';
    font-size:13px;
    color:#3c4352;
     -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;  
    outline:none;
    border-top:0px;
    border-bottom:0px;
    border-left:1px solid #f4f4f4;
    border-right:1px solid #f4f4f4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height:51px;
    height:100%;
    width:100% !important;
    background:transparent url(/assets/svg/search.svg) no-repeat;
    background-size:16px 16px;
    background-position: 9px 20px;
    padding-left:29px;
    &:focus,&:active {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-top:0px;
      border-bottom:0px;
      border-left:1px solid #f4f4f4;
      border-right:1px solid #f4f4f4;
    }
    &:before
    {

    }
  }
}
.stats
{
  padding: 6px 0px 0px 20px;
  .img
  {
    background:transparent url(/assets/svg/stats.svg) no-repeat;
    background-size:34px 34px;
    width:34px;
    height:34px;
    display:inline-block;
  }
  .text
  {    
    display:inline-block;
    letter-spacing: 1px;
    margin-left:9px;
    position: relative;
    top: -2px;
    .number
    {
      font-family:'opensans_b';
      font-size:16px;
      color:#3c4352;
    }
    .questions
    {
      font-family:'opensans';
      font-size:10px;
      color:#3c4352;      
    }
  }
}

/* sub-navigation bar */
.content{
  .content-wrapper
  {
    padding: 0 50px;
  }
  #subnav-navbar{
    background: #f6f7f7 url(/assets/svg/pattern.svg) repeat;
    background-size:7px 7px;
    border-bottom: solid 1px #eaeae9;
    min-height: 18px;
    padding:0px 50px 0px 20px;
    max-height: 31px;
    overflow: visible;

    .col{
      &.col-left{
        & > a{
          font-family: 'sourcesans_pro', 'sans-serif';
          font-size: 16px;
          font-weight:normal;
          margin:0 12px 0 0;
          padding:0;
          color: #00adee;
          line-height: 30px;
        }

        .available-language-switcher
        {  
          display:inline-block;
          label
          {
            font-family: 'sourcesans_pro', 'sans-serif';
            font-size: 14px;
            font-weight:normal;
            margin:0 12px 0 0;
            padding:0;
            color: #4d5563;    
            line-height: 30px;
          }
          select
          {
            font-family: 'sourcesans_pro', 'sans-serif';
            font-size: 14px;
            color: #00adee;
            background:rgba(60, 67, 82,0.05) url(/assets/svg/select_arrow.svg) no-repeat center right / 21px 7px;
            padding:5px 28px 6px 10px;
            border:0px solid #ddd;
            min-width:140px;
            height:30px;    
            vertical-align:top;
            outline:none;
            -webkit-appearance: none;
            moz-appearance:    none;
            appearance:         none;
            cursor:pointer;
          }
        }

      }
      &.col-right{
        .navbar-nav > li > a{
          font-family: 'sourcesans_pro', 'sans-serif';
          font-size: 14px;
          font-weight:normal;
          margin:0 12px 0 0;
          padding:0;
          color: #00adee;
          line-height: 30px;
        }
      }
    }
  }
}
.page-header
{
  margin:0px -50px;
  padding:0px;
  border-bottom:1px solid #fff;
  &:after
  {
    content:"";
    display:block;
    border-bottom:1px solid #e8e8e8;

  }  
  h1
  {
    font: 20px 'prime';
    color:#747984;  
    margin:0px 50px;
    padding:26px 0px 16px;
  }
}

.navbar
{
  .navbar-header,.stats,.navbar-form,.navbar-top-links
  {
    display:table-cell;
    float:none !important;
    vertical-align:top;
  }
  .navbar-header
  {
    min-width:141px;
  }
  .stats
  {
    min-width:130px;
  }
  .navbar-form
  {
    width:100%;
  }
  .navbar-top-links
  {
    min-width:350px;
    li
    {
      a 
      { 
        display:inline-block; 
        text-transform:uppercase;
        padding:15px 3px;
        margin:0px;
      }
      .dropdown-menu{
        li{
          padding: 0 7px;
          a{
            display: block;
            padding:10px 3px;
          }
        }
      }
    }
  }
}

#dashboard-tabs
{
  ul.nav-tabs
  {
    border-bottom: 1px solid #cecece;
    > li
    {
      > a
      {
        font-family:'nokiasans_s60';
        font-size:14px;
        color:#3c4352;
        text-transform:uppercase;
      }
    }
  }
}


#js_modal
{
  display:none;
  z-index:1020;
  .popup
  {
    position: fixed;
    top: 51px;
    // bottom:20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color:#ececec;
    z-index:999;
    padding:0px;
    overflow:auto;
    z-index:1022;
    border: 1px solid #e0e0e0;
    border-top:0;
    padding: 0px 12px 13px 12px;
    background-color: #fff;  
    min-width:420px;
    > div
    {
      background-color:#f6f7f7;
      padding:0px 42px 42px;
    }
  }
  .bg
  {
    background-color: rgba(0,0,0,0.5);
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 52px;
    left: 0px;
    right:0px;
    bottom:0px;
    z-index:1021;
  }
}


#user_status_other_input
{
  display:none;
}



#signup-form
{
  margin:0px auto;
  .title
  {
    background-color:#fefefe;
    display:inline-block;
    position:relative;
  }
}



.article.explore
{
.category
{
  height:90px;
  .selector
  {
    position:absolute;
    right:0px;
    top:0px;
    height:90px;
    
    background-color:#fff;
    border:1px solid #f2f2f2;
    border-right:0;
    border-top:0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display:table;
    &:hover
    {
      cursor:pointer;
    }
    > .text
    {      
      font-family:'sourcesans_pro_i';
      font-size:12px;
      line-height:16px;
      text-align:center;
      padding:10px;
      width:90px;
      color:#3c4352;
      text-decoration:underline;
      display:table-cell;
      vertical-align:middle;
      height:100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;      
    }
  }
  ul
  {
    display:none;
    list-style:none;
    margin:0px;
    padding:0px;
    position:absolute;
    right:90px;
    top:0px;
    border:1px solid #f2f2f2;
    border-right:0;
    border-top:0;
    li
    {
      display:table-cell;
      background-color:#fff;
      overflow: hidden;
      margin:0px;
      padding:0px;
      border-width:1px;
      vertical-align: top;
      height:100%;
      position:relative;
      &:first-child
      {
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:hover,&.active
      {
        background-color:#fafafa;
        cursor:pointer;
        
      }  
      &:hover .img
      {
          transform:scale(1.2,1.2);
      }
    }



  }
  .item
  {
    // 
    // height:89px;
    position:relative;
   .text  
    {
      height:40px;
      width:90px;
      max-width:90px;
      span
      {
        font-family:'sourcesans_pro';
        font-size:12px;
        line-height:11px;
        color:#636975;
        width: 100%;
        text-transform:uppercase;
        text-align:center;
        display: inline-block;
        padding: 0px 6px;
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .img
    {
      width:100%;
      height:49px;
      margin:0px;
      text-align:center;
    }   

    &:after
    {
      content: "";
      background: transparent url(/assets/svg/vborder.svg);
      width: 1px;
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 0px;
      bottom: 10px;
    }
  } 
}
}


.img
{
  &.child_protection{ background:transparent url(/assets/svg/categories/child_protection.svg) center top/42px no-repeat; }
  &.violence{ background:transparent url(/assets/svg/categories/violence.svg) center top/42px no-repeat; }
  &.disability{ background:transparent url(/assets/svg/categories/disability.svg) center top/42px no-repeat; }
  &.health{ background:transparent url(/assets/svg/categories/health.svg) center top/42px no-repeat; }
  &.education{ background:transparent url(/assets/svg/categories/education.svg) center top/42px no-repeat; }
  &.social_production{ background:transparent url(/assets/svg/categories/social_production.svg) center top/42px no-repeat; }
  &.wash{ background:transparent url(/assets/svg/categories/wash.svg) center top/42px no-repeat; }
  &.youth{ background:transparent url(/assets/svg/categories/youth.svg) center top/42px no-repeat; }
  &.none{ background:transparent url(/assets/svg/categories/none.svg) center center/42px no-repeat; }
}

    
.pagination
{
  width: 100%;
  text-align: left;
  padding:0px 30px 0px 30px;
  .first a { background:transparent url(/assets/svg/paginate_first.svg) no-repeat center/18px; }
  .next a { background:transparent url(/assets/svg/paginate_next.svg) no-repeat center/18px; }
  .prev a { background:transparent url(/assets/svg/paginate_prev.svg) no-repeat center/18px; }
  .last a { background:transparent url(/assets/svg/paginate_last.svg) no-repeat center/18px; }
  span, a
  {
    font-family: 'sourcesans_pro', 'sans-serif';
    font-size:14px;
    width:18px;
    height:18px;
    display:inline-block;
    vertical-align:top;
    text-decoration:none;

  }
  .page
  {
    display: inline-block;
    min-width:18px;
    height:18px;
    position:relative;
    top:-1px;
    a
    {
      font-family: 'sourcesans_pro', 'sans-serif';
      font-size:14px;
      color:#000;
      line-height:18px;
      min-width:18px;
      height:18px;
      display: inline-block;
      text-align:center;
      margin:0px 3px;
    }
    &.current, a:hover, a:focus, a:active
    {
      font-family: 'sourcesans_pro', 'sans-serif';
      font-size:14px;
      color:#fff;
      background-color:#00adee;
      line-height:18px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      min-width:18px;
      height:18px;
      display: inline-block;
      text-align:center;
      margin:0px 3px;
      text-decoration:none;
    }
  }
}

.js-hide{
  display:none;
}



  .search
    {
      padding: 0 0 0 50px;
      .box
      {
        display:table;
        input[type=search]
        {          
          font-family: 'sourcesans_pro_l', 'sans-serif';
          font-size: 13px;
          color: #3c4352;
          height:33px;
          min-width:290px;
          border:1px solid #ddd;
          border-right:0;
          background: #fff url(/assets/svg/search.svg) 10px center/ 13px no-repeat;
          outline:none;
          padding:0px 0px 0px 30px;
          display:table-cell;
          &::-webkit-input-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
          &:-moz-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
          &::-moz-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
          &:-ms-input-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
        }
        .go,.go-submit
        {
          display:table-cell;
          font-family:'opensans', 'sans-serif';
          font-size:12px;
          color:#fff;
          background-color:#80d3ed;
          text-align: center;
          width:33px;
          height:33px;
          line-height: 33px;
          cursor:pointer;
          text-transform: uppercase;
          &:hover
          {
            background-color:#29bfed;
          }

        }
      }
     
    }



/* tinymce fullscren */
.mce-fullscreen{
  z-index: 1100 !important;
}    

.sidebar
{
  .share
  {
    // margin: 0px auto;
    // display: table;
    > a
    {
      width:65px;
      height:45px;
      display: inline-block;
    }
    .facebook
    {
      background:transparent url(/assets/svg/social.svg) no-repeat left center;  
      &:hover
      {
         background:transparent url(/assets/svg/social.svg) no-repeat -65px center;  
      }
    }
    .twitter
    {
      position: absolute;
      right: 0px;
      background:transparent url(/assets/svg/social.svg) no-repeat -130px center;  
      &:hover
      {
         background:transparent url(/assets/svg/social.svg) no-repeat -195px center;  
      }
    }   
  }
}

.col { display:table-cell; vertical-align:top; }


