/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require formtastic
 *= require formtastic-bootstrap
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require dataTables/extras/dataTables.tableTools
 *= require bootstrap_and_overrides
 *= require devise
 *= require tipsy
 *= require vendor
 *= require_self
*/


/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear             		{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */


/* so ie will display the correct color background */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	filter: none; 
}

/* multilanguage form styles */
div#form-en {
	background-color:#ddd;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

div#form-ka {
	background-color:#999;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

/* error message styling */
.errorExplanation{
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #F2DEDE;
  color: #B94A48;
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  h2{
    color: #B94A48 !important;
  }

  a{
    color: #B94A48;
  }
}




/* nested form styles */
#nested_form_container {
	margin: 0.5em 0;
  padding: 1em;
  background-color: #ddd;
  
  .nested_form_item {
    background-color: #eee;
    padding: 0.5em 1em;
  }
}


.formtastic input
{
	padding:4px 14px !important;
	font-size:14px !important;
  box-sizing:content-box;

  &[type="number"]{
    width: 100px;  
  }
}



/* fix styles when using tinymce */
.tinymce_format{
  ul, ol, ul ul, ol ol,
  ul ol, ol ul {
    padding-left: 2em;
  }

  ul li {
    list-style-type:disc;
    line-height: 1.5;
  }
  ol li {
    list-style-type:decimal;
    line-height: 1.5;
  }
}


/* logo in header */
.navbar-brand{
  font-size: 15px;
  background-color:#00adee;
  // padding: 7px;
  a
  {
    text-align:center;
  }
  #logo{
    display: inline-block;    
    width: 95px;
    height:24px;    
  }
  &:hover
  {
    background-color:#00adee;
  }
  &.xtraktr{
    background-color:#EB5D30;
    padding: 0 24px;
    #logo{
      display: inline-block;    
      width: 78px;
      height:50px;    
    }
    &:hover
    {
      background-color:#EB5D30 !important;
    }
  }
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color:#00adee;
}
/* datatable styles */
.dataTables_wrapper {
  .dataTables_filter {
    width: 50%;
    float: left;
    text-align: left;
    label{
      float: left;
    }
  }
  .dataTables_info{
    text-align: center;
  }
  .dataTables_length{
    float: right;
    select{
      width: auto !important;
    }
  }
}

.table-nonfluid {
   width: auto;
   max-width: 100%;
   margin: 0 auto;
}

/*hint and errors in formtastic forms*/
.help-inline, .help-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #9E9E9E !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:default;
  padding:0px;
  border: 1px solid #9E9E9E;
  margin-left:10px;
}
.help-inline div,.help-block div {
  margin:0px 0px 0px 4px;
}
.error-inline, .error-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #b94a48 !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:default;
  padding:0px;
  border: 1px solid #b94a48;
    margin-left:10px;
}
.error-inline div,.error-block div {
  margin:1px 0px 0px 7px;
}
.formtastic 
{
  .input
  {
    overflow:visible;
  }
  .form-control
  {
    display:inline-block;
  }
  .control-label
  {
    display:block;
    clear:both;
    margin-bottom:3px;
  }
  .control-label, table th
  {
    abbr
    {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background-color: #fff;
      color: #9E9E9E !important;
      width:21px;
      height:20px;
      font-size:16px;
      font-style:normal;  
      vertical-align:middle;
      display:inline-block; 
      cursor:help;
      padding:0px;
      border: 1px solid #9E9E9E;
      margin-left:10px;
      padding:2px 0px 0px 6px;
    }
  }  
  .select select 
  {
    max-width: 72%;
  }
}

/* bootstrap select styles */
.bootstrap-select.btn-group .btn .filter-option{
  padding: 3px 5px;
}
ul.dropdown-menu.inner.selectpicker li a{
  padding: 3px 10px;
}
.bootstrap-select-searchbox input{
  width: 95%;
}

/* style record public status */
.publish-status{
  display: inline-block;
  padding: 4px 8px;
  color: #3d3d3d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -khtml-border-radius: 5px;   
  &.public{
    background-color: #a8d2b8;
  }
  &.not-public{
    background-color: #e1919f;
  }
  &.small-status{
    font-size: 12px;
    padding: 2px 4px;
  }
}












@font-face {
    font-family: "opensans";    
    src: url( '/assets/fonts/opensans.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_li";    
    src: url( '/assets/fonts/opensans_li.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_b";    
    src: url( '/assets/fonts/opensans_b.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "nokiasans_s60";    
    src: url( '/assets/fonts/nokiasans_s60.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "pfcentroslabpro";    
    src: url( '/assets/fonts/pf_centro_slab_pro.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro";    
    src: url( '/assets/fonts/sourcesans_pro.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_i";    
    src: url( '/assets/fonts/sourcesans_pro_i.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_l";    
    src: url( '/assets/fonts/sourcesans_pro_l.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}

#side-menu
{
  background-color:#3c4352;
  li 
  {
    border:0px;
    a
    {
      font-family: 'nokiasans_s60';
      font-size:14px;
      color:#fff;
      background-color:#3c4352;
      text-align:center;
      padding:15px 20px;
      opacity:0.7;
      span
      {
        font-family:'nokiasans_s60';
        font-size:14px;
        color:#fff;
        display:block;
      }
      &.unicef
      {
        font-family:'opensans';
        font-size:12px;
        color:#00adee;
      }
      .img
      {
        background-size:21px 17px;
        width:21px;
        height:17px;
        margin:0px auto 6px;
      }
      .side-menu-home { background:transparent url(/assets/svg/home.svg) no-repeat; }
      .side-menu-datasets { background:transparent url(/assets/svg/datasets.svg) no-repeat; }
      .side-menu-time-series { background:transparent url(/assets/svg/time_series.svg) no-repeat; }
      .side-menu-instructions { background:transparent url(/assets/svg/instructions.svg) no-repeat; }
      .side-menu-api { background:transparent url(/assets/svg/api.svg) no-repeat; }
      .side-menu-contact { background:transparent url(/assets/svg/contact.svg) no-repeat; }
      &:hover,&.active
      {
        background-color:#313844;
        position:relative;
        opacity:1;

        .side-menu-home { background:transparent url(/assets/svg/home_a.svg) no-repeat; }
        .side-menu-datasets { background:transparent url(/assets/svg/datasets_a.svg) no-repeat; }
        .side-menu-time-series { background:transparent url(/assets/svg/time_series_a.svg) no-repeat; }
        .side-menu-instructions { background:transparent url(/assets/svg/instructions_a.svg) no-repeat; }
        .side-menu-api { background:transparent url(/assets/svg/api_a.svg) no-repeat; }
        .side-menu-contact { background:transparent url(/assets/svg/contact_a.svg) no-repeat; }
      }
      &.active:after
      {
        content:'◢';
        font-family:"Courier New";
        font-size:16px;
        color:#313844;
        position:absolute;
        right:-5px;
        top:50%;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
      }
 
    }
  }  
}
.navbar-brand
{
  width:141px;
}
.navbar-form
{
  margin:0px;
  .form-group
  {
    width:100%;
  }
   input
  {
    font-family:'opensans_li';
    font-size:13px;
    color:#3c4352;
     -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;  
    outline:none;
    border-top:0px;
    border-bottom:0px;
    border-left:1px solid #f4f4f4;
    border-right:1px solid #f4f4f4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height:51px;
    height:100%;
    width:100% !important;
    background:transparent url(/assets/svg/search.svg) no-repeat;
    background-size:16px 16px;
    background-position: 9px 20px;
    padding-left:29px;
    &:focus,&:active {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-top:0px;
      border-bottom:0px;
      border-left:1px solid #f4f4f4;
      border-right:1px solid #f4f4f4;
    }
    &:before
    {

    }
  }
}
.stats
{
  padding: 6px 0px 0px 6px;
  .img
  {
    background:transparent url(/assets/svg/stats.svg) no-repeat;
    background-size:34px 34px;
    width:34px;
    height:34px;
    display:inline-block;
  }
  .text
  {    
    display:inline-block;
    letter-spacing: 1px;
    margin-left:9px;
    position: relative;
    top: -2px;
    .number
    {
      font-family:'opensans_b';
      font-size:16px;
      color:#3c4352;
    }
    .questions
    {
      font-family:'opensans';
      font-size:10px;
      color:#3c4352;      
    }
  }
}
.boxic
{
  background-color:#fff;
  width:450px;  
  padding:10px 20px;
  margin:10px 10px;
  border:0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;  
-webkit-box-shadow: 1px 1px 0px 1px rgba(235,235,235,1);
-moz-box-shadow: 1px 1px 0px 1px rgba(235,235,235,1);
box-shadow: 1px 1px 0px 1px rgba(235,235,235,1);
  .title
  {
    h2
    {
      font-family:'nokiasans_s60';
      font-size:14px;
      color:#00adee;
      margin:0px;
      text-align:left;
      display:table-cell;
      white-space:pre;
      padding:0px 10px 0px 0px;
      text-transform:uppercase;
    }
    .cell
    {
      width:100%;
      display:table-cell;
      vertical-align: middle;
    }
    .line
    {
      width:100%;
      height:1px;
      background-color:#b2b2b2;
    }
  }
  ul 
  {
    li
    {
      font-family:'sourcesans_pro_l';
      font-size:14px;
      color:#3c4352;
      a,h2
      {
        font-family:'pfcentroslabpro';
        font-size:14px;
        color:#d95d6a;
        line-height:20px;
        text-transform:uppercase;
        &:hover
        {
          text-decoration:none;
        }
      }
      &:not(:last-of-type)
      {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}


/* sub-navigation bar */
#subnav-navbar{
  background-color: #ededed;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  margin: 1px -15px !important;
  padding: 7px;
  min-height: 36px;
  & > div:nth-child(1) a{
    padding-top: 15px;
    margin-left: 0;
  }
  .navbar-nav > li > a{
    padding-top: 0;
    padding-bottom: 0;
  }
}


.navbar
{
  .navbar-header,.stats,.navbar-form,.navbar-top-links
  {
    display:table-cell;
    float:none !important;
    vertical-align:top;
  }
  .navbar-header
  {
    min-width:141px;
  }
  .stats
  {
    min-width:120px;
  }
  .navbar-form
  {
    width:100%;
  }
  .navbar-top-links
  {
    min-width:300px;
  }
}

#dashboard-tabs
{
  ul.nav-tabs
  {
    border-bottom: 1px solid #cecece;
    > li
    {
      > a
      {
        font-family:'nokiasans_s60';
        font-size:14px;
        color:#3c4352;
        text-transform:uppercase;
      }
    }
  }
}


#js_modal
{
  display:none;
  .popup
  {
    position: fixed;
    top: 50px;
    // bottom:20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color:#ececec;
    z-index:999;
    padding:10px;
    overflow:auto;
  }
  .bg
  {
    background-color: rgba(0,0,0,0.5);
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}

#agreement_status_other_input,
#user_status_other_input
{
  display:none;
}



#signup-form
{
  margin:0px auto;
  .title
  {
    background-color:#fefefe;
    display:inline-block;
    position:relative;
  }
}