.boxic
{
  background-color:#fff;
  border:1px solid #eaeaea;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  padding:18px 21px;
  ul 
  {
    li
    {
      font-family:'sourcesans_pro_l';
      font-size:14px;
      color:#3c4352;
      a,h2
      {
        font:14px 'sourcesans_pro', 'sans-serif';
        color:#636975;
        line-height:17px;
        &:hover
        {
          text-decoration:none;
        }
      }
      &:not(:last-of-type)
      {
        // padding-bottom: 10px;
        // margin-bottom: 10px;
      }
    }
  }

    .list{
      ul{
        vertical-align: top;
        &:first-of-type{
          display: inline-block;
          width: 49%;
        }
        &:last-of-type{
          display: inline-block;
          width: 49%;
        }
        li{
          text-align:center;
          margin-bottom:13px;
          a{
            display: block;
            text-decoration: none;
            color: #333;
            &:hover{
              img {transform:scale(1.1,1.1);} 
            }
           img {
              vertical-align: middle;
              height: 42px;
              width: 42px;
            }
            span{
              display: inline-block;
              text-align: left;
              padding:0px 0px 0px 10px;
              &:last-of-type{
                vertical-align: middle;
                width: 80px;
              }
            }
          }
        }
      }
    }


  #wms_link{
    display: block;
    text-decoration: none;
    #wms_banner{
      position: relative;
      background:#fff url(/assets/svg/time_series_banner.svg) no-repeat center center;
      height: 100%;
      min-height: 330px;
      #wms_title{
        text-transform: uppercase;
        position: absolute;
        bottom: 25%;
        right: 15%;
        color: #fff;
        font-size: 16px;
      }
      #wms_slogan{
        position: absolute;
        top: 20px;
        right: 20px;
        color: #f65252;
      }
    }
  }

 

  .embed-title{
    position: relative;
    h3 {
      font-family:'pfcentroslabpro';
      font-size:14px;
      color:#d95d6a;
      line-height:20px;
      margin:0px;
      padding:5px 10px;
      text-transform:uppercase;
      background: #f6f7f7 url(/assets/svg/pattern.svg) repeat;      
      a{
        color:#d95d6a;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .embed-links{
      position: absolute;
      top: 8px;
      right: 16px;
      ul {
        margin: 0;
        list-style-type: none;
        li{
          display: inline-block;
          border-bottom: none;
        }
      }
    }
  }
}
