
#dashboard-meta{
  margin-bottom: 20px;
  #meta-dates{
    font-style: italic;
    color: #00adee;
  }
  #meta-source{
    font-style: italic;
    font-weight: bold;
  }
}

#dashboard-tabs{
  .tab-content{
    margin-top: 20px;

    #codebook{
      & > ul > li{
        margin: 10px 0;
        border-bottom: dotted 1px #ccc;
        h3{
          font-size: 17px;
        }
        .details{
          border-left: dotted 1px #ccc;
        }
        .question-row, .answer-row{
          margin: 10px 0;
        }
        .answer-row{
          ul{
            padding-left: 15px;
          }
        }
        .headers{
          color: #00adee;
        }
      }
    }
  }



}