body { 
  padding-top: 110px; 
}

.navbar-default{
  margin-bottom: 0;
}
#dataset-navbar{
  background-color: #ededed;
  border-color: #cdcdcd;
  &.navbar-fixed-top{
    top: 51px;
    z-index: 999;
  }
  .navbar-brand{
    padding-top: 15px;
    margin-left: 0;
  }
  .navbar-left{
    border-left: solid 1px #999;
  }
}

table#dataset-reports{
  margin-bottom: 40px;
  tbody tr td{
    padding-bottom: 0;
    .input{
      margin-bottom: 0;
    }
    select{
      width: 100% !important;
      max-width: 100% !important;
    }
    .select2-container.form-control{
      height: inherit;
      padding: inherit;
    }
  }
  a.view-report{
    margin-left: 14px;
  }
}

.select2-results{
  max-height: 100px !important;
}
