table#dataset-reports{
  margin-bottom: 40px;
  tbody tr td{
    padding-bottom: 0;
    .input{
      margin-bottom: 0;
    }
    select{
      width: 100% !important;
      max-width: 100% !important;
    }
    .select2-container.form-control{
      height: inherit;
      padding: inherit;
    }
  }
  a.view-report{
    margin-left: 14px;
  }
}

.select2-results{
  max-height: 100px !important;
}
