@import "variables.css.less";
.i-facebook { 
  background:transparent url('/assets/svg/facebook.svg') no-repeat center/65px 13px;
  width:65px;
  height:12px;
  display:inline-block;
 }

 #login-form
  {

    .form-group
    {    
      &.email
      {
        padding:0px 0px 12px 0px;
      }
      &.password
      {
        padding:0px 0px 6px 0px;
      }
    }
  }

 #change-password-form
  {
    .form-group
    {    
      &.password
      {
        padding:0px 0px 12px 0px;
      }
    }
  }

  #reset-password-form
  {
     .form-group.email
    { 
      padding:0px 0px 6px 0px;
    }
  }
  #login-form,#reset-password-form,#change-password-form
  {
    form { padding:0px 30px; }
  }

#login-form,#reset-password-form,#signup-form,#change-password-form{
  
  .title{
    font-size:30px;
    color:#bdbdbd;
    margin-bottom:25px;
    line-height:36px;
  }
  .providers {    
    text-align: center;
    margin:0px 40px !important;
    a.facebook {
      font:12px/32px 'sourcesans_pro_sb','sans-serif';
      color:@fff;
      background: #4a5e93;
      display:inline-block;
      height:31px;
      width:100%;
      padding: 0px 40px 0px 40px;
      text-decoration: none;
      text-transform:uppercase;  
      span {  padding-right: 10px;}    
    }
  }
  .facebook_or_local {
      display:table;
      font-size:14px;
      color:#959595;     
      width:100%; 
      margin:25px 0px; 
      >div{display:table-cell;}
      .midline
      {
          background: transparent url(/assets/svg/hborder.svg) repeat-x;
          background-position: center; 
          min-width: 125px;          
      } 
      .or
      {
        font:12px 'sourcesans_pro','sans-serif';
        color:@3c4352;
        text-transform:uppercase;
        text-align: center;
        padding:0px 15px;
      }        
  }
  .formtastic {
    input {
      margin:0px;
      float:none;
    }
  }
  #login-form,#reset-password-form
  { 
    .login-username, .login-password,.login-password-confirmation {
      margin:0px 40px !important;
    }
  }
  .submit-row {
    margin-top:32px;
     text-align:center;
  }
  input[type=submit] {
    display:inline-block;
    font:12px/31px 'sourcesans_pro_sb','sans-serif' !important;
    background-color:@00adee;
    color:@fff;            
    border:0px;
    border-radius: 3px !important;              
    text-decoration: none;        
    text-transform:uppercase;
    height:31px !important;
    min-width:140px;
  }
  .forgot-link {
    font:12px 'sourcesans_pro', 'sans-serif';
    font-weight:normal;
    color:@00adee; 
    display:inline-block; 
    margin:2px 0px 0px;
    padding:0px;
    float:right;
  }
  .sign-in-link {
    font:12px 'sourcesans_pro', 'sans-serif';
    font-weight:normal;
    color:#00adee; 
    display:inline-block; 
    margin:2px 0px 0px;
    padding:0px;
    text-align: right;
    width: 100%;
  }

  .red-box-neighbor
  {
    position: absolute;
    right: 20px;
    top: 5px;
    line-height: 15px;
    span
    {
      font:12px 'sourcesans_pro', 'sans-serif';
      color:@3c4352; 
    }
    a
    {
      font:12px 'sourcesans_pro_sb', 'sans-serif';
      color:@00adee; 
    }
  }
  .red-box-neighbor:lang(ka) {
    right: 5px;
  }
}

.red-box
{
  font:12px 'sourcesans_pro_sb', 'sans-serif';
  color:#fff;
  text-transform:uppercase;
  margin:0px auto 20px;
  width:105px;
  height:62px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  position:relative;
  top:0;
  left:50%;
  transform: translateX(-50%);
  background:transparent url(/assets/svg/redarrow.svg) no-repeat;
  background-size: cover;
  padding: 16px 10px 0 10px;
}
.red-box.long
{
  padding: 9px 10px 0 10px;
}

#signup-form
{
  max-width:650px;
  min-width:650px;
  .input
  {
    text-align:left;
  }
  .explanation
  {
    font:12px 'sourcesans_pro', 'sans-serif';
    color:@3c4352; 
    margin-bottom:14px;
  }
  .r
  {
     margin:0px 0px 10px;
    .form-group
    {
      display:inline-block;
      &:nth-of-type(2)
      {
        float:right;
      }
    }

  }
 
  
  #user_status_other
  {
    box-sizing:border-box;
    height:39px;
    width:100%;
    margin-top:3px;
  }
  textarea
  {
    height:auto;
    width:100%;
  }
  .statuses .radio
  {
    display:block;
  }
  .control-label
  {
    font:12px 'sourcesans_pro', 'sans-serif';
    font-weight:normal;
    color:@3c4352;  
    text-align:left;
    // margin-top:12px; 
    text-transform:uppercase;
  }
  .boolean .control-label
  {
    padding:0px;
  }
  .checkbox .control-label
  {
    text-transform:none;   
  }
  .radio_buttons, .boolean.checkbox, #user_role_input{
    margin-bottom: 7px;
  }
  #user_notification_locale_input{
    margin-left: 19px;
    margin-top: -10px;
  }
  .radio_buttons.vertical
  {
    .radio {
      margin:0px;
      padding:0px;
    }
  }
  .radio_buttons.horizontal
  {
    .radio
    {
        margin:0px 0px 0px 20px !important;
      padding:0px !important;
    }
    .radio:first-of-type {
       margin:0px !important;
      padding:0px;
    }
  }
  .wanna_account
  {
    font:12px 'sourcesans_pro', 'sans-serif';
    color:@3c4352;
    padding:9px;
    margin:0px 0px 10px;
    border:1px solid @d95d6a;
    border-image-slice: 1 1 1 1;
    border-image-width: 1px 1px 1px 1px; 
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat; 
    border-image-source: url(/assets/svg/dotted_red.svg);
  }
  
}





.form-wrapper
{
    position:relative;
  .exclamation
  {
    position:absolute;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
    display: inline-block;
    cursor:default !important;
    border:0 !important;
    width:25px;
    height:21px;
    background:transparent url(/assets/svg/exclamation.svg) no-repeat center/25px 21px;
  }
}
.control-label
{
  min-height:21px;
  vertical-align: top;
  line-height: 21px;
  .exclamation
  {
    position:relative;
    top:-2px;
    display: inline-block;
    cursor:default !important;
    border:0 !important;
    width:25px !important;
    height:21px;
    margin-left:4px !important;
    background:transparent url(/assets/svg/exclamation.svg) no-repeat center/25px 21px;
  }
  i {
    font:14px 'sourcesans_pro_li', 'sans-serif';
    color:@d95d6a;
    text-transform:none;
  }
}
abbr {   vertical-align: top; }
label > abbr {
    margin-left: 3px !important;
}


.formtastic.user
{
  .input
  {
    text-align: center;
    margin:0px;
    padding:0px;
    
  }
 

 input[type=text],input[type=email],input[type=password], textarea
  {
    font:12px 'sourcesans_pro', 'sans-serif' !important;
    color:@3c4352;            
    display:inline-block;
    border:0px !important;
    background-color:#dceef4 !important;
    text-decoration: none;    
    height:31px;
    min-width:226px;

    outline:none;
    border-radius:0 !important;  
    box-shadow: none !important;    
    transition: 0.3s linear;
  }
  input[type=text]:focus,input[type=email]:focus,input[type=password]:focus, textarea:focus
  {
    background-color:@fff !important;
    outline:none;
    border-radius:0 !important;  
    box-shadow: none !important;     
  }
  .checkbox-box
  {
      display:inline-block;
      input[type="checkbox"] + label
      {
        font:12px 'sourcesans_pro', 'sans-serif';
        font-weight:normal;
        color:@3c4352; 
        display:inline-block; 
        margin:0px;
        padding:0px; 
        cursor:pointer;     
      }
      input[type="checkbox"] {
        display:none;
      }    
      input[type="checkbox"] + label:before {
        content:"";
          display:inline-block;
          width:14px;
          height:14px;
          margin:-3px 4px 0 0;
          vertical-align:middle;
          background:url(/assets/svg/check_radio.png) no-repeat left top ;
      }
      input[type="checkbox"]:checked + label:before {
        content:"";
        background:url(/assets/svg/check_radio.png) no-repeat -15px top;
      }
  }
  .radio-box
  {
    input[type="radio"] + label
    {
      font:12px 'sourcesans_pro', 'sans-serif';
      font-weight:normal;
      color:@3c4352; 
      display:inline-block; 
      margin:0px;
      padding:0px; 
      cursor:pointer;     
    }
    input[type="radio"] {
      display:none;
    }    
    input[type="radio"] + label:before {
      content:"";
      display:inline-block;
      width:15px;
      height:14px;
      margin:-3px 4px 0 0;
      vertical-align:middle;
      background:url(/assets/svg/check_radio.png) no-repeat -29px top;
    }
    input[type="radio"]:checked + label:before {
      content:"";
      background:url(/assets/svg/check_radio.png) no-repeat -44px top;
    }
  }
  .has-error
  {
     input[type=text],input[type=email],input[type=password], textarea
     {
        background-color:#f7d0d6 !important;
     }
     > label
     {
        color:@d95d6a !important;
     }
  }
}

#login-form, #reset-password-form {
  max-width: 340px;
  margin:0px auto;
  position:relative;
}
.popup #login-form, .popup #reset-password-form {
  max-width:initial;
  .red-box-neighbor
  {
    right: 50px;
  }
  .red-box-neighbor:lang(ka)
  {
    right: 35px;
  }
}
