@font-face {
    font-family: "opensans";    
    src: url( '/assets/fonts/opensans.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_li";    
    src: url( '/assets/fonts/opensans_li.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_b";    
    src: url( '/assets/fonts/opensans_b.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans_sb";    
    src: url( '/assets/fonts/opensans_sb.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "nokiasans_s60";    
    src: url( '/assets/fonts/ka/bpgns.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "nokiasans_s60_sb";    
    src: url( '/assets/fonts/ka/bpgns_m.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}


@font-face {
    font-family: "prime";    
    src: url( '/assets/fonts/prime.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "sourcesans_pro_i";    
    src: url( '/assets/fonts/sourcesans_pro_i.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "sourcesans_pro_l";    
    src: url( '/assets/fonts/ka/dejavusans_el.ttf') format("truetype");   
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_li";    
    src: url( '/assets/fonts/sourcesans_pro_li.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro";    
    src: url( '/assets/fonts/ka/dejavusans_c.ttf') format("truetype");   
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_sb";    
    src: url( '/assets/fonts/sourcesans_pro_sb.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_sbi";    
    src: url( '/assets/fonts/sourcesans_pro_sbi.otf') format("opentype");         
    font-style: normal;
    font-weight: 200;
}