@font-face {
    font-family: "nokiasans_s60";    
    src: url( '/assets/fonts/ka/bpgns.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "nokiasans_s60_sb";    
    src: url( '/assets/fonts/ka/bpgns_m.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "prime";    
    src: url( '/assets/fonts/ka/dejavusansm_book_c.ttf') format("truetype");         
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "sourcesans_pro_i";    
    src: url( '/assets/fonts/ka/dejavusans_c_i.ttf') format("truetype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_l";    
    src: url( '/assets/fonts/ka/dejavusans_el.ttf') format("truetype");   
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_li";    
    src: url( '/assets/fonts/ka/dejavusans_i.ttf') format("truetype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro";    
    src: url( '/assets/fonts/ka/dejavusans_c.ttf') format("truetype");   
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_sb";    
    src: url( '/assets/fonts/ka/dejavusans_c_b.ttf') format("truetype");         
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "sourcesans_pro_sbi";    
    src: url( '/assets/fonts/ka/dejavusans_c_bi.ttf') format("truetype");         
    font-style: normal;
    font-weight: 200;
}