@import "variables.css.less";

ul.select2-results li.select2-result{
  &.top-level-group{

  }
  &.sub-group > div{
    margin-left: 7px;
    border-left: solid 1px #ccc;
  }
}

#chart-description-container{
  display: block;
  margin-left: 5px;
  padding-left: 20px;
  border-left: 2px solid #ccc;
  #chart-description-ex{
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #fff;
    display: inline-block;
    border-radius: 4px;
    font:18px 'sourcesans_pro', 'sans-serif';
    .code{
      color: @00adee;
    }
    .description{
      color: @db8042;
    }
  }
}


.group-questions{
  display:none;
}
.question-modal .header{
  margin: 32px 0 !important;
}

form.group{
  position: relative;
}

#group-questions {
  position: relative;
  #group-question-explanation{
    margin-bottom: 20px;
  }
}
