@import 'help_article_details.less';

.help-section-filters {
  margin-bottom: 19px;
}

.help-section-filters::after {
  content: "";
  background: transparent url(/assets/svg/hborder.svg);
  height: 1px;
  display: block;
  margin-top: 20px;
}

  .help-section-filters-search {  
    display: table;
    width: 100%;
    max-width: 290px;
  }
        
    .help-section-filters-search-input {
      font: 13px 'sourcesans_pro_l', 'sans-serif';
      color: #3c4352;
      height: 34px;
      display: table-cell;
      width: 100%;
      border: 1px solid #dddddd;
      border-right: 0;
      background: #ffffff url(/assets/svg/search.svg) 19px center / 13px no-repeat;
      outline: none;
      padding: 0px 0px 0px 46px;
      border-radius: 0px;  
    }
    
    .help-section-filters-search-go {
      display: table-cell;
      font: 12px 'sourcesans_pro', 'sans-serif';
      color: #ffffff;
      background-color: #efe4b6;
      text-align: center;
      width: 33px;
      height: 33px;
      line-height: 33px;
      cursor: pointer;
      text-transform: uppercase;
      padding: 0px 10px;
    }

.help-section-articles {
  padding: 0;
  margin-top: 30px;
}

  .help-section-article {
    list-style: none;
  }

  .help-section-article::after {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #fff;
    content: '';
    display: block;
    margin: 24px 0px 18px;
  }

    .help-section-article-title {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 16px;
    }

      .help-section-article-title-link {
        font: 16px 'prime_en','sans-serif';
        color: #d67456;
        text-transform: uppercase;
        display: table-cell;
        width: 100%;
      }
      
    .help-section-article-description {
      font: 16px 'sourcesans_pro_l_en','sans-serif';
      color: #3c4352;
      max-width: 800px;
      
      @media (max-width: 600px) {
        display: none;
      }
    }