@import 'help_article_details.less';

.help-article {
  max-width: 50em;
}

  .help-article-title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'sourcesans_pro','sans-serif';
    color: #d67456;
  }
