@import 'help_article_details.less';

.help-article {
  max-width: 50em;
}

  .help-article-title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'sourcesans_pro','sans-serif';
    color: #d67456;
  }
  
  .help-article-description {
    font: 16px 'sourcesans_pro_l','sans-serif';
  }

.help-article-sidebar {
  
}
  
  .help-article-sidebar-back-link {
    
  }
  
  .help-article-sidebar-back-link-icon {
    display: inline-block;
    background: transparent url(/assets/svg/back_home.svg) no-repeat;
    width: 13px;
    height: 8px;
    vertical-align: middle;
    margin-right: 5px;
  }