@import 'help_article_details.less';

@min-width-become-sidebar: 992px;

.content-wrapper {
  background-color: white;
}

.help-article {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: @min-width-become-sidebar) {
    justify-content: space-between;
    flex-direction: row;
  }
}

  .help-article-main {
    background-color: white;
  }

    .help-article-main-title {
      font-size: 16px;
      text-transform: uppercase;
      font-family: 'sourcesans_pro','sans-serif';
      color: #d67456;
    }

    .help-article-main-description {
      font: 16px 'sourcesans_pro_l','sans-serif';
    }

  .help-article-sidebar {
    padding: 1em;

    @media (min-width: @min-width-become-sidebar) {
      min-width: 300px;
      border-left: 1px solid #d6d6d6;
      background-color: #f6f7f7;
      margin-right: -50px;
    }
  }

    .help-article-sidebar-back-link-text {
      font: 14px 'nokiasans_s60','sans-serif';
      color: #d67456;  
    }

    .help-article-sidebar-back-link-icon {
      display: inline-block;
      background: transparent url(/assets/svg/back_home.svg) no-repeat;
      width: 13px;
      height: 8px;
      vertical-align: middle;
      margin-right: 5px;
    }
