.help-section-item-title-link {
  font: 16px 'prime_en','sans-serif';
  color: #d67456;
  text-transform: uppercase;
  margin: 10px 0 5px;
  padding-right: 70px;
  display: table-cell;
  width: 100%;
}