#highlights{
  .highlight{
    vertical-align: top;
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 20px;
    &.pie_chart, &.crosstab_chart, &.line_chart, &.map {
      width:100%; 
    }  
  }
}

@media (min-width: 992px) 
{
  #highlights{
    .highlight{
      &.pie_chart, &.crosstab_chart, &.line_chart, &.map {
        width:49%; 
        margin:0px 0px 20px !important;
      }      
    }
  }
}