.article
{
  padding:0 30px;
  &.explore
  {   
    padding:0px;      
    .filters
    {
      position:relative;        
      > div { display:inline-block; vertical-align:middle;}
      &:after
      {
        content: "";
        background: transparent url(/assets/svg/hborder.svg);
        width: 100%;
        height:1px;
        display: block;

      }
    }
    .list
    {
      > ul
      {
        display:inline-block;
        width:100%;
        list-style:none;
        padding:0 30px;
        margin:0px;
   
        > li:after
        {
          border-top:1px solid #e8e8e8;
          border-bottom:1px solid #fff;
          content:'';
          display:block;       
        }
        h2,a
        {
          font-family:'prime','sans-serif';
          font-size:16px;
          color:#d95d6a;
          text-transform:uppercase;
          margin:10px 0 5px;
        }
        .info
        {
          max-width:1024px;
          margin-bottom:7px;
          > div
          {
            display:inline-block;
            margin-right:10px;
            vertical-align:top;
          }
          .calendar
          {
            background:transparent url(/assets/svg/calendar.svg) no-repeat;
            width:21px;
            height:22px;
          }
          .timestamp
          {
            color:#5faac1;
            font-family: 'sourcesans_pro_li', 'sans-serif';
            font-size:16px;
            span
            {
              font-family: 'sourcesans_pro_sbi', 'sans-serif';
            }
          }
          .time-series
          {
            float:right;
            position: relative;
            top: -9px;
            margin:0px;         
            img
            {
              width:36px;
              height:36px;
            }
          }

        }
        .description, .no-data-found
        {
          font-family: 'sourcesans_pro_l', 'sans-serif';
          font-size:16px;
          color:#3c4352;
          max-width:1024px;          
        }
        .no-data-found
        {
          margin:10px 0px;
        }
        .download-wrapper
        {
          position:relative;
          width:100%;
          cursor:pointer;
          .download
          {
            position:absolute;
            right: 17px;
            top: -36px;
            display:inline-block;
            background:transparent url(/assets/svg/download.svg) no-repeat center/17px;
            width:17px;
            height:17px;
            &.open ul
            {
              display:block;
            }
          }
          ul
          {

            display:none;
            list-style:none;
            padding:0px 0px 0px;
            position:absolute;
            right:-15px;
            top:21px;
            min-width:120px;
            font-family: 'sourcesans_pro_l', 'sans-serif';
            font-size: 12px;
            color: #3fceef;
            background-color:#fff;
            text-transform:uppercase;   
            border:1px solid #e0e0e0;
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            outline:none;
            z-index:1029;
            li
            {                
              padding:0px 0px 0px 10px;
              line-height:30px;
              &:hover
              {
                background-color:#3fceef;
                color:#fff;
              }
            }

            li:not(:last-child)
            {
              border-bottom:1px solid #f2f2f2;
            }
          }           
        }
      }
    }
    .sort
    {
      margin-left:50px;
      label
      {
        font-family: 'sourcesans_pro_sb', 'sans-serif';
        font-size:12px;
        color:#3c4352;
        text-transform:uppercase;
        margin-right:10px;
      }
      select
      {
        font-family: 'sourcesans_pro', 'sans-serif';
        font-size: 13px;
        color: #777c86;
        background: #ffffff url(/assets/svg/select_arrow.svg) no-repeat center right / 21px 7px;
        padding: 6px 28px 6px 10px;
        border:1px solid #ddd;
        min-width:100px;
        outline:none;
        -webkit-appearance: none;
        moz-appearance:    none;
        appearance:         none;
        cursor:pointer;
      }

    }
    .search
    {
      padding: 0 0 0 30px;
      .box
      {
        display:table;
      }
      input
      {
        
        font-family: 'sourcesans_pro_l', 'sans-serif';
        font-size: 13px;
        color: #3c4352;
        height:33px;
        min-width:290px;
        border:1px solid #ddd;
        border-right:0;
        background: #fff url(/assets/svg/search.svg) 10px center/ 13px no-repeat;
        outline:none;
        padding:0px 0px 0px 30px;
        display:table-cell;
        &::-webkit-input-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
        &:-moz-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
        &::-moz-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
        &:-ms-input-placeholder { font-family:'opensans_li', 'sans-serif'; font-size:13px; color:#9da1a8; }
      }
      .go
      {
        display:table-cell;
        font-family:'opensans', 'sans-serif';
        font-size:12px;
        color:#fff;
        background-color:#80d3ed;
        text-align: center;
        width:33px;
        height:33px;
        line-height: 33px;
        cursor:pointer;
        text-transform: uppercase;
        &:hover
        {
          background-color:#29bfed;
        }

      }
    }
  }
}
