@import "variables.css.less";
.article
{
  padding:0px;
/*  padding:30px 0px 0px;
*/  &.dashboard, &.timeseries
  {
    padding:0px;
  }
  &.explore {
    padding:0px;
    .filters {
      position:relative;
      margin:0px -10px;
      &:after
      {
        content: "";
        background: transparent url(/assets/svg/hborder.svg);
        height:1px;
        display: block;
        margin: 0px 10px;
      } 
      > .box {
        padding:19px 10px 19px;
        > div { vertical-align:top; }  
      }
      .search { 
        display:inline-block;
        padding: 5px 40px 5px 0px;
       }
      .r {
        // padding:5px 0px 10px 10px;
      }
      .sort {
        padding: 5px 40px 5px 0px;
      }
      .category {
        padding: 5px 0 5px 0px; 
      }
      .country {
        padding: 5px 40px 5px 0px; 
      }
      .donor {
        padding: 5px 40px 5px 0px;  
      }
      .owner {
        padding: 5px 0 5px 0px; 
      }
      .sort, .country, .donor, .owner {
        width:auto;
        display:inline-block;
        label
        {
          font:12px 'sourcesans_pro_sb', 'sans-serif';
          color:@3c4352;
          text-transform:uppercase;
          margin-right:10px;
          display:inline-block;
        }
      }   
      .category {  
        display:inline-block;
        margin-left: 0;
        label
        {
          font:14px 'sourcesans_pro', 'sans-serif';
          line-height:16px;
          text-align:center;
          color:#d67456;
          display:inline-block;
          height:100%;
          padding:0 7px 0 0;
          user-select: none;
          // vertical-align:top;
          &:before
          {
            content:"";
            display:inline-block;
            background:transparent url(/assets/svg/mob/categories.svg) no-repeat center/21px 22px;
            width:21px;
            height:22px;
            margin-right: 6px;
            position: relative;
            top: 6px;
          }
          span {
            display:none;
          }
        }
      }
    }
  }

  .no-data-found
  {
    font:16px 'sourcesans_pro_l_en', 'sans-serif';
    color:@3c4352;
    max-width:1024px;
    margin:10px 0px;
    &:lang(ka) {
      font:16px 'sourcesans_pro_l_ka', 'sans-serif';
    }
  }

  .list {

    margin-top:30px;
    > ul
    {
      display:inline-block;
      width:100%;
      list-style:none;
      padding:0;
      margin:0px;

      > li:not(:last-child):after
      {
        border-top:1px solid @e8e8e8;
        border-bottom:1px solid @fff;
        content:'';
        display:block;
        margin:24px 0px 18px;
      }
      > li:last-child
      {
        margin-bottom:18px;
      }
      .caption
      {
        display:table;
        width: 100%;
        .title, .title > a
        {
          font:16px 'prime_en','sans-serif';
          color:@d67456;
          text-transform:uppercase;
          margin:10px 0 5px;
          padding-right:70px;
          display:table-cell;
          width:100%;
          &:lang(ka) {
            font:16px 'prime_ka','sans-serif';
          }
        }
        .download-wrapper,.download-direct
        {
          display:table-cell;
        }
      }
      .info
      {
        max-width:1024px;
        margin-bottom:7px;
        position: relative;
        > div
        {
          display:inline-block;
          margin-right:10px;
          vertical-align:middle;
        }
        .meta {
          font:16px 'sourcesans_pro_li_en', 'sans-serif';
          line-height:18px;
          color:#d1af24;
          display:inline-block;
          margin-right: 10px;
          &:last-of-type{
            margin-right: 0;
          }
          &:lang(ka) {
            font:16px 'sourcesans_pro_li_ka', 'sans-serif';
          }
          span
          {
            font:16px 'sourcesans_pro_sbi_en', 'sans-serif';
            &:lang(ka) {
              font:16px 'sourcesans_pro_sbi_ka', 'sans-serif';
            }
          }
          &:lang(ka) {line-height:26px;}
          &.upload{
            a{
              color:#d1af24;
              text-decoration: underline;
            }
          }
        }
        .calendar
        {
          background:transparent url(/assets/svg/calendar.svg) no-repeat;
          width:31px;
          height:22px;
          display:table-cell;
        }
        .timestamps
        {
          display:table-cell;
          padding-right:70px;
          .timestamp
          {
            font:16px 'sourcesans_pro_li_en', 'sans-serif';
            line-height:18px;
            color:#d1af24;
            display:inline-block;
            &:lang(ka) {
              font:16px 'sourcesans_pro_li_ka', 'sans-serif';
            }
            span
            {
              font:16px 'sourcesans_pro_sbi_en', 'sans-serif';
              &:lang(ka) {
                font:16px 'sourcesans_pro_sbi_ka', 'sans-serif';
              }
            }
            &:lang(ka) {line-height:26px;}
            &:last-child { margin-right: 0; }
          }
        }
        .language
        {
          font:16px 'sourcesans_pro_li_en', 'sans-serif';
          color:@3c4352;
          display:table-cell;
          padding-left:20px;
          &:lang(ka) {
              font:16px 'sourcesans_pro_li_ka', 'sans-serif';
          }
          span
          {
            font:16px 'sourcesans_pro_sbi_en', 'sans-serif';
            &:lang(ka) {
              font:16px 'sourcesans_pro_sbi_ka', 'sans-serif';
            }
          }
          b {
            font:16px 'sourcesans_pro_li_en', 'sans-serif';
            font-weight:normal;
            &:lang(ka) {
              font:16px 'sourcesans_pro_li_ka', 'sans-serif';
            }
          }
        }
        .time-series
        {
          display:table-cell;
          a {
            font: 14px 'sourcesans_pro', 'sans-serif';
            color: #3c4352;
            line-height: 34px;
            text-align: left;
            text-transform: uppercase;
            border: 1px solid #f2f2f2;
            border-radius: 2px;
            background-color: #ffffff;
            height: 36px;
            min-width: 130px;
            display: block;
            vertical-align: top;
            margin-bottom: 4px;
            white-space: nowrap;
            padding-right: 10px;
            &:hover img {
              transform: scale(1.1, 1.1);
            }
          }
          img
          {
            width: 34px;
            height: 34px;
            vertical-align: top;
            margin-right: 6px;
          }
        }
      }
      .description
      {
        font:16px 'sourcesans_pro_l_en', 'sans-serif';
        color:@3c4352;
        max-width:1024px;
        &:lang(ka) {
          font:16px 'sourcesans_pro_l_ka', 'sans-serif';
        }
      }
      .download-wrapper {
        position:relative;
        cursor:pointer;
        display:inline-block;
        vertical-align:top;
        .download
        {
          display:inline-block;
          background:transparent url(/assets/svg/download.svg) no-repeat center/17px;
          width:17px;
          height:17px;
          margin-left:10px;
          &.open ul
          {
            display:block;
          }
        }
        ul
        {

          display:none;
          list-style:none;
          padding:0px 0px 0px;
          position:absolute;
          right:-15px;
          top:21px;
          min-width:120px;
          font:12px 'sourcesans_pro', 'sans-serif';
          color: #d1af24;
          background-color:@fff;
          text-transform:uppercase;
          border:1px solid @e0e0e0;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          outline:none;
          z-index:1029;
          li
          {
            padding:0px 0px 0px 10px;
            line-height:30px;
            &:hover
            {
              background-color:#3fceef;
              color:@fff;
            }
          }

          li:not(:last-child)
          {
            border-bottom:1px solid @f2f2f2;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .article {
     &.explore {
      .filters {
        margin:0px -50px;
        > .box {
          padding:19px 10px 19px 50px;
          // .category {
          //   margin-left: 50px;
          // }
          /* > div:first-of-type {  margin-bottom:10px; width:auto; } */
          .sort {
            // margin-left:50px;
            width:auto;
            select { width: auto; }
          }
          // .sort {
          //   padding: 5px 10px 5px 10px;
          // }
          // .category {
          //   padding: 5px 0 5px 0px; 
          // }
          // .country {
          //   padding: 5px 10px 5px 0px; 
          // }
          // .donor {
          //   padding: 5px 10px 5px 10px;  
          // }
          // .owner {
          //   padding: 5px 0 10px 10px; 
          // }  
        }   
      }
    }
    .list
    {
      > ul
      {
        .info
        {
          .time-series
          {
            display:table-cell;
            position: absolute;
            right: 32px;
            top:-23px;
            margin: 0px;
          }
        }
      }
    }
  }
}
