#mappable-matching{
  #mappable-matching-items, #adjustable-range{
    margin-bottom: 15px;
  }
  p{
    margin: 0 0 10px !important;
  }
  #has_map_adjustable_max_range{
    & > label{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    .radio{
      margin-right: 10px;
      &:last-of-type{
        margin-right: inherit;
      }
    }
  }
  #mappable-matching-items > ul > li{
    padding: 10px 5px;
    border-top: solid 1px #cdcdcd;
    margin-bottom: 15px;

    .match-shapeset.no-match{
      background-color: #d95d6a;
    }

    .bootstrap-select.btn-group:not(.input-group-btn){
      margin-bottom: 0;
    }

    & > div:first-of-type{
      margin-top: 7px;
    }

    &:nth-child(even){
      background-color: #ededed;
    }
    &:nth-child(odd){
      background-color: #fff;
    }
  }
}