#intro{
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
  &:lang(ka){
    max-width: 800px;
  }
  #intro-slogan{
    font-size: 20px;
  }
  #intro-desc{

  }
}

#row1 > div > div{
  min-height: 360px;
}

.title
{
  h2
  {
    font-family:'nokiasans_s60';
    font-size:14px;
    color:#00adee;
    margin:0px;
    text-align:left;
    display:table-cell;
    white-space:pre;
    padding:0px 10px 0px 0px;
    text-transform:uppercase;
  }
  .cell
  {
    width:100%;
    display:table-cell;
    vertical-align: middle;
  }
  .line
  {
    width:100%;
    height:1px;
    background-color:#b2b2b2;
  }
}

#highlights{
  margin-top: 30px;
}