.article.root
{
  .intro{
    text-align: center;
    max-width: 820px;
    padding: 42px 0px 70px;
    margin: 0px auto;
    .slogan{
      font:26px 'sourcesans_pro_l', 'sans-serif';
      color:#3c4352;    
      text-align:center;
      margin:0px 0px 7px;
      &:lang(ka) { font-size: 22px; }
      span { font:26px 'sourcesans_pro_sb', 'sans-serif';
      &:lang(ka) { font-size: 22px; } } 
    }
    .desc{
      font:16px 'sourcesans_pro', 'sans-serif';
      color:#3c4352;  
    }
  }

  // #row1 > div > div{
  //   min-height: 360px;
  // }
  .jsrow
  {
    width:100%;
    max-width:1400px;
    margin:0px auto;
    // display:table; 
    text-align:center;
    // .col { width:33%; }
    // .col {
    //   display:inline-block;
    // }
     > div {  }
    .boxic 
    {
      width:auto;
      height:100%;
      overflow:hidden;      
    }
    @media (min-width: 768px) 
    {
      .boxic {
        width:330px;
      }
    }
  }
  .categories{
    display:inline-block; vertical-align:top; height:410px; margin-bottom:20px;
    .boxic { margin:0px 0px 20px 0px; max-width:330px; }
    .search {
      margin-bottom:20px;
      padding:0px;
      .box {
        width:100%;
        input { width:100%; min-width:100%; }
      }

    }
    .header { margin:24px 0px 0px; }
        .t{
        width:100%;
        display:table;
        border-collapse: separate;
        border-spacing: 0px 6px;
        .r {  display: table-row; width:100%; margin-bottom:13px;}
        .c {
          display: table-cell;
          vertical-align:top;
          width: 50%;     
          text-align:center;
          
          font-family:'sourcesans_pro_l';
          font-size:14px;
          color:#3c4352;
          a{
            font:14px 'sourcesans_pro', 'sans-serif';
            color:#636975;
            line-height:17px;
            display: block;
            text-decoration: none;
            color: #333;
            height:68px;
            &:hover{
              text-decoration:none;
              .img {transform:scale(1.1,1.1);} 
            }
             .img {              
                height: 42px;
                width: 42px;
                position:relative;
                top:14px;
                display:inline-block;
              }
            span{
              display: inline-block;
              text-align: left;
              padding:0px 0px 0px 10px;
              vertical-align:top;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              &:last-of-type{
                // vertical-align: middle;
                width: 80px;
              }
            }
          }
        }
      }
  }
  .recents{
    display:inline-block; vertical-align:top; height:410px;
   .boxic { 
      padding:20px 20px 20px 0px;
      margin:0px 0px 20px 0px;
      overflow:auto;
      position:relative;
      
      &::-webkit-scrollbar-track {
        background-color: #f6f6f6;
      }
      &::-webkit-scrollbar {
        height: 12px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #bfbfbf;
        border: 2px solid #f6f6f6;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #b1b1b1;
        cursor: pointer;
      }
      .header { margin:0px 0px 13px 20px;}
     .t
      {
        display:table;
        .r 
        {
          .c
          {
            display:table-cell;
            vertical-align:top;
            width:50%;
            // max-height:110px;
            // overflow:hidden;
            // .b {
            //   height: 110px;

            // }
            &.c2 { display:none; }
     
            &:before
            {
              content:"";
              display:inline-block;
              width:100%;
              border-bottom:1px solid #e8e8e8;
              margin:0px 0px 8px 13px;
            }
            a
            {
              font:13px 'prime','sans-serif';
              color:#d95d6a;
              text-align:left;
              text-transform:uppercase;
              display:inline-block;
              width:100%;
              margin:0 0 3px 20px;
              line-height: 17px;
            }
            .desc {
              font:16px 'sourcesans_pro_l', 'sans-serif';
              color:#3c4352; 
              text-align:left; 
              margin:0 0 0 20px;
            }
            &:first-of-type{
              padding-right:20px;
            }
            &:last-of-type{
              padding-left:20px;
            }
          }
          &:first-of-type{
            .c:before { content:none; }
          }
        }
      }
   }

    .vborder
    {
      display:none;
      width:1px;
      position:absolute;
      top:50px;
      bottom:20px;
      left:50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background:transparent url(/assets/svg/vborder.svg) repeat-y center;
    }
  }
  .banner{
    
    display:none; 
    vertical-align:top; 
    height:410px;
    width:330px;
    margin-bottom:20px;
    // width:100%;
    .boxic { padding:0px; overflow: hidden; max-width:330px;}
    .wms{
      display: block;
      text-decoration: none;
      .figure{
        position: relative;
        background: #ffffff url(/assets/svg/time_series_banner.svg) no-repeat center 70px;
        height: 100%;
        min-height: 410px;

        .title{
          font:20px 'nokiasans_s60', 'sans-serif';
          color: #fff;
          text-align: left;
          text-transform: uppercase;
          position: absolute;
          bottom: 100px;
          right: 20px;
          &:lang(ka) { 
            font:16px 'nokiasans_s60_sb', 'sans-serif';           
          }
        }
        .slogan{
          font:18px 'sourcesans_pro', 'sans-serif';
          color:#f76d51;  
          position: absolute;
          top: 12px;
          right: 20px;
          text-align:left;
          &:lang(ka) { 
            font:15px 'sourcesans_pro_l', 'sans-serif'; 
            top: 28px;
            right: 9px;
          }
        }
      }
    }

    &.banner2 {display:inline-block;}
  }
  
  .header, .highlights-header
  {
    h2
    {
      font:14px 'nokiasans_s60', 'sans-serif';
      color:#00adee;
      margin:0px;
      text-align:left;
      display:table-cell;
      white-space:pre;
      padding:0px 10px 0px 0px;
      text-transform:uppercase;
      &:lang(ka) { font:16px 'nokiasans_s60_sb', 'sans-serif'; }
    }
    .cell
    {
      width:100%;
      display:table-cell;
      vertical-align: middle;
    }
    .line
    {
      width:100%;
      height:1px;
      background-color:#b2b2b2;
    }
  }
  .highlights-header
  {
    margin:60px 0px 18px;
    height:auto !important;
    .line
    {
      width:100%;
      height:1px;
      background:transparent url(/assets/svg/hborder.svg) repeat-x center;
    }
  }
  .highlights
  {
    width:100%;
    height:100% !important;
  
    .boxic { width:100%; padding:0px; }
    .highlight { max-width:680px; }
    .highlight:first-of-type { margin-right:20px;   margin-bottom:20px; }
  }
  @media (min-width: 940px) {
    .categories { margin-right:20px; }
    .recents 
    {
     .boxic {
        width:680px;
        .c2 { display:table-cell !important; }
        .vborder {display:block;}
      }
    } 
   
  }
  @media (min-width: 1300px) {
    .recents 
    {
      margin-right:20px;
      .boxic {
        width:330px;
        .c2 { display:none !important; }
        .vborder {display:none;}        
      }
    }
    .banner{
      margin-bottom: 0px;
      display:inline-block;
       &.banner2 {display:none;}

    }
     .highlights
    {
      // .highlight:first-of-type { margin-right:20px !important; }
    }
  }
  @media (min-width: 1640px) {
    .recents 
    {
      .boxic {
        width:670px;
        .c2 { display:table-cell !important; }
        .vborder {display:block;}
      }
    }
    .banner{
      display:inline-block;
       &.banner2 {display:none;}

    }
  }
}

.article.contact{ 
  display: table;
  margin:50px auto 0px;

  .col
  {
    display:table-cell;
    &:first-of-type
    {
      background:transparent url(/assets/svg/vborder.svg) repeat-y center right;
      padding-right:70px;
      min-width:500px;
      max-width:500px;
    }
    &:last-of-type
    {
      padding-left:50px;
    }
  }
  .header
  {
    font: 16px 'nokiasans_s60', 'sans-serif';
    color:#3c4352;
    text-transform:uppercase;
    &:lang(ka) { font: 16px 'nokiasans_s60_sb', 'sans-serif';}
  }
  .intro
  {
    font: 16px 'sourcesans_pro_l', 'sans-serif';
    color:#3c4352;   
    margin:18px 0 28px 
  }
  form
  {
    input[type=text],input[type=email], textarea
    {
      font-family:'sourcesans_pro', 'sans-serif';
      font-size:12px !important;
      color:#3C4352;            
      display:inline-block;
      border:0px !important;
      background-color:#dceef4 !important;
      text-decoration: none;    
      height:39px;
      width:100%;
      min-width:100%;
      max-width:100%;
      outline:none;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius:0 !important;  
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;    
      -webkit-transition: 0.3s linear;
      -moz-transition: 0.3s linear;
      -o-transition: 0.3s linear;
      -ms-transition: 0.3s linear;
      transition: 0.3s linear;
    }
    input[type=text]:focus,input[type=email]:focus, textarea:focus
    {
      background-color:#fff !important;
      outline:none;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius:0 !important;  
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;     
    }
    label
    {
      font:12px 'sourcesans_pro_sb', 'sans-serif';
      color:#3c4352;
      text-transform:uppercase;

    }
    textarea { height: auto; }
    .submit-message
    {
      font:12px 'sourcesans_pro_sb', 'sans-serif';
      color:#fff;
      background-color:#00adee;
      border:1px solid #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-transform:uppercase;
      padding:6px 20px;
      outline:none;
    }
  }
  .email, .phone
  {
    background-color:#ace1f4;
    padding:0px 0px 0px 6px;
    display:block;
    min-width: 200px;
  }  
  .email
  {
    height:32px;
    margin:32px 0px 12px;
    > div 
    {
      display:inline-block;
      vertical-align: top;
    }
    .figure
    {
      background:#78d1f2 url(/assets/svg/mail.svg) no-repeat center/25px 19px;
      width:42px;
      height:32px;
    }
    .text
    {
      font-family:'sourcesans_pro','sans-serif';
      font-size:16px;
      color:#fff;
      padding:0px 12px 0px 10px;
      position:relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }  
  }
  .phone
  {
    height:43px;
    > div 
    {
      display:inline-block;
      vertical-align: top;
    }
    .figure
    {
      background:#78d1f2 url(/assets/svg/phone.svg) no-repeat center/25px 22px;
      width:42px;
      height:43px;
    }
    .text
    {
      font-family:'sourcesans_pro','sans-serif';
      font-size:16px;
      color:#fff;
      padding:0px 12px 0px 10px;
      position:relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      line-height: 18px;

    }  
  }
  .formtastic input
  {
    box-sizing:border-box;
  }

  .has-error
  {
     input[type=text],input[type=email],input[type=password], textarea
     {
        background-color:#f7d0d6 !important;
     }
     > label
     {
        color:#d95d6a !important;
     }
  }
  .notification { width: 100%; }
}
.article.instructions{   
  .header
  {
    font: 16px 'sourcesans_pro_l', 'sans-serif';
    color:#49505e;
    margin:32px 0px;
    a
    {
      font: 16px 'sourcesans_pro_sb', 'sans-serif';
      color:#00adee;
    }
  }
  .box
  {
    width:49%;
    display:inline-block;
    vertical-align:top;
    margin-bottom:42px;
    .caption
    {
      margin:0px 0px 12px;
      > div { display:table-cell; vertical-align:top; }    
      div.i
      {
        min-width: 20px;
        width:20px;
        height:20px;
        position: relative;
        top: -3px;
        &.datasets { background:transparent url(/assets/svg/menu.svg) no-repeat -20px -17px; } 
        &.explore-data { background:transparent url(/assets/svg/instruction_data.svg) no-repeat left center/18px; } 
        &.time-series { background:transparent url(/assets/svg/instruction_time_series.svg) no-repeat left center/20px; } 
        &.download-data { background:transparent url(/assets/svg/download.svg) no-repeat left center/18px; } 
        &.api { background:transparent url(/assets/svg/menu.svg) no-repeat -80px -17px; }                         
      }
      .title
      {      
        font: 16px 'nokiasans_s60', 'sans-serif';
        color:#3C4352;
        padding: 0px 8px;
        white-space: nowrap; 
        &:lang(ka) { font: 16px 'nokiasans_s60_sb', 'sans-serif';} 
      }
      .line
        {
          background:transparent url(/assets/svg/hborder.svg) repeat-x center 7px;
          width:100%; 
          height:1px;
        }
    }
    .text
    {
      font: 16px 'sourcesans_pro_l', 'sans-serif';
      color:#49505e;
      a
      {
        font: 16px 'sourcesans_pro_sb', 'sans-serif';
        color:#49505e;
        cursor:pointer;
      }
    }
    &:nth-child(even)
    {
      padding-right:50px;
    }
  }
}
.article.notes{ 
  margin: 32px 0px;
  font: 16px 'sourcesans_pro_l', 'sans-serif';
  color:#49505e;  
}