
  .tabs
  {

    margin:0px -50px;
    ul.nav-tabs
    {
      li
      {
        padding:0px 25px;
        &:first-of-type{
          padding:0px 25px 0px 50px;
        }
        &.active a
        {
          border-bottom:3px solid #00adee;
          &:after
          {
            content:"";
            background:transparent url(/assets/svg/tab_arrow.svg) no-repeat center/12px 4px;
            width:12px;
            height:4px;
            position: absolute;
            bottom: -7px;
            left: 50%;
            margin-left: -6px;
          }
        }

        a
        {
          margin:0;
          padding:0;
          border:0;
          border-bottom:3px solid transparent;
          background-color:transparent;
        }
      }
    }
    .tab-content 
    {
      background-color:#fff;
      padding-top:24px;
      .tab-pane{
        margin: 0 20px;
      }
      .highlight
      {
        border:1px solid #eaeaea;
       -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
      }
    }
  }
