#time-series-navbar{
  background-color: #ededed;
  border-color: #cdcdcd;
  &.navbar-fixed-top{
    top: 51px;
    z-index: 999;
  }
  .navbar-brand{
    padding-top: 15px;
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
    text-decoration: uppercase;
    &:before{
      content: "\003c";
      padding-right: .5em;
    }
  }
  .navbar-left{
    border-left: solid 1px #999;
  }
}
#dataset-container{
  margin-bottom: 20px;
}