@import "variables.css.less";
.tooltip
{
  z-index: 1100;
  &.in
  {
    opacity:1;
  }
  .tooltip-arrow
  {
    border:0 !important;
    position:absolute !important;
    margin:0px !important;
    padding:0px !important;
  }
  &.top .tooltip-arrow
  {
    background:transparent url(/assets/svg/tooltip_top.svg) no-repeat center left/18px 6px !important;
    width:18px !important;
    height:6px !important;
    bottom:0px !important;
    top:auto !important;
    left:50% !important;
    transform: translateX(-50%);
    right:auto !important;
  }
  &.right .tooltip-arrow
  {
    background:transparent url(/assets/svg/tooltip_right.svg) no-repeat center left/6px 18px !important;
    width:6px !important;
    height:18px !important;
    left:0px !important;
    bottom:auto !important;
    top:50% !important;
    transform: translateY(-50%);
    right:auto !important;
  }
  &.bottom .tooltip-arrow
  {
    background:transparent url(/assets/svg/tooltip_bottom.svg) no-repeat center left/18px 6px !important;
    width:18px !important;
    height:6px !important;
    top:0px !important;
    bottom:auto !important;
    left:50% !important;
    transform: translateX(-50%);
    right:auto !important;
  }
  &.left .tooltip-arrow
  {
    background:transparent url(/assets/svg/tooltip_left.svg) no-repeat center right/6px 18px !important;
    width:6px !important;
    height:18px !important;
    right:0px !important;
    bottom:auto !important;
    top:50% !important;
    transform: translateY(-50%);
  }
  .tooltip-inner
  {
    font:12px 'sourcesans_pro','sans-serif';
    color:#d1af24;
    background-color:@fff;
    border:1px solid @e0e0e0;
  }
}
.tooltip-exclamation
{
  .tooltip-inner
  {
    color:@d67456;
  }
}
.tooltip-time-series
{
  .tooltip-inner
  {
    color:@d67456;
  }
}
.tooltip-download
{
  .tooltip-inner
  {
    white-space:pre;
  }
}
