    <footer class="clear">
      <div id="left">&copy; <%= Time.now.year %></div>
      <div id="middle">
        <ul class="list-unstyled list-inline">
          <li role="menuitem"><%= link_to t('app.menu.explore_data'), explore_data_path %></li>
          <li role="menuitem"><%= link_to t('app.menu.explore_time_series'), explore_time_path %></li>
        </ul>
      </div>
      <div id="right" class="clear">
        <%= link_to(image_tag("jumpstart-logo.png"), "http://www.jumpstart.ge", :target => "_blank",
            :title => t('app.common.js_link_title') ) %>
      </div>
    </footer>
