    <footer class="clear<%=@klass_footer%>">
    <!--   <div id="left"></div>
      <div id="middle"></div> -->
      <div class="clear right">
        <%= link_to(image_tag("svg/js_logo.svg"), "http://www.jumpstart.ge", :target => "_blank",
            :title => t('app.common.js_link_title') ) %>
      </div>
    </footer>
